body {
  box-sizing: border-box;
  overflow-x: hidden;
}
.skill-list {
  display: flex;
}
h1 {
  width: 55%;
  margin-bottom: 2rem;
}

main {
  margin: 3rem 4rem;
}
.site-numbers {
  background-image: linear-gradient(
    to bottom right,
    rgb(58, 7, 88),
    rgb(88, 8, 180)
  );
  margin: 0 -4rem;
  padding: 10rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  clear: both;
}
.site-numbers > a {
  padding: 1.5rem 1.5rem;
  aspect-ratio: 1/1;
  color: blueviolet;
  text-decoration: overline;
  background-color: rgb(92, 255, 133);
  font-size: large;
  border-radius: 50%;
  font-weight: bold;
  vertical-align: bottom;
}

a:hover {
  background-color: rgb(165, 255, 225);
  color: black;
}
@media (max-width: 839px) {
  h1 {
    text-align: center;
    width: 100%;
  }
}
