body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 0, 0),
    rgb(82, 82, 82)
  );
  color: white;
  background-repeat: no-repeat;
}
.skill-list {
  display: flex;
  gap: 1.8rem;
  justify-content: space-between;

  background-color: rgb(70, 70, 70);
  opacity: 95%;
  padding: 0 2rem;
  border-radius: 1rem 1rem 0 0;
}
.skill-list * {
  padding: 0;
  list-style: outside;
}
h1 {
  width: 55%;
  margin-bottom: 2rem;
}

main {
  margin: 3rem 4rem;
}
.site-numbers {
  background-image: linear-gradient(
    to bottom right,
    rgb(58, 7, 88),
    rgb(88, 8, 180)
  );
  margin: 0;
  padding: 10rem;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  /* clear: both; */
}
.site-numbers > a {
  padding: 1.5rem 1.5rem;
  aspect-ratio: 1/1;
  color: blueviolet;
  text-decoration: overline;
  background-color: rgb(92, 255, 133);
  font-size: large;
  border-radius: 50%;
  font-weight: bold;
  vertical-align: bottom;
  flex-shrink: 0;
}

a:hover {
  background-color: rgb(165, 255, 225);
  color: black;
}
.grid {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  border-radius: 0 0 1rem 0rem;
}
.side {
  height: 100%;
  background-color: rgb(68, 68, 68);
  border-radius: 0 0 0rem 1rem;
}
@media (max-width: 839px) {
  h1 {
    text-align: center;
    width: 100%;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 839px) {
  .skill-list {
    justify-content: flex-start;
    gap: 5rem;
  }
}
